doctype html
html.no-js(lang='en')
head
    //
       META TAGS 
    include includes/_meta.jade
    //
       META TAGS 
    title BottlesTonight - Same Day Bottle Service App - FAQ
    //
       CSS 
    include includes/_css.jade
    //
       End CSS 
    script(src='js/vendor/modernizr.js')
body
  include includes/_top_bar_consumer.jade
  #faq.feature_display
    .row
      .small-12.small-centered.large-12.columns
        h1.white Frequently Asked Questions
    .row
      hr
      .small-12.small-centered.large-12.columns
        h3.white &bull;Are there refunds?
        p.white
          | After your transaction is processed, the booking is final and you're definitely going out tonight. If your party gets to the club and your reservation isn't honored, immediately call our customer support line and we will mediate the situation.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;What are the fees included in the receipt?
        p.white
          | The credit card processing fees are 2.9% plus 30 cents per card. A standard 20% gratuity is also included in the final total.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;How late can I book on BottlesTonight
        p.white
          | Until 1:30am
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;Why do I have to wait until noon to book?
        p.white
          | To give the VIP managers enough time to make a cup of coffee and update their unsold tables for the evening.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;Why can't I book in advance?
        p.white
          | We only allow for same day bookings to guarantee the best prices on tables that would otherwise be left empty.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;Can I choose my table type or location?
        p.white
          | No, the venue is in control of which tables are available.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;I created a group yesterday and can't see it today - where'd everyone go?
        p.white
          | The group system renews itself each dawn of a new day.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;How does the review system work?
        p.white
          | It goes both ways; the user rates the venue, and the venue rates the user. An average is calculated, and if either falls below 3 stars they are banned from using the service.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;How does the discount get determined?
        p.white
          | The venues control the discount and to which items they apply.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;How do you calculate the average bottle price?
        p.white
          | The average price is calculated using each individual venues menu. Only 750ml bottles of liquor are included in the averge, champagne, mixers, and beer are excluded.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;What is the maximum table capacity?
        p.white
          | It is the maximum amount of people allowed at your booked table. It also determines how many people get free cover and free tickets to a special event. It varies per club, check the Need to Know section under the Details tab in each venue's profile or on the checkout screen.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;What is dress code?
        p.white
          | A dress code of some degree is enforced at every nightclub to ensure a certain ambiance is kept in balance for the sake of the party at large. Dress code varies per club; check the Need to Know section under the Details tab in each venue's profile.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;What times do the clubs open and when do they close?
        p.white
          | It depends on the place at what time they open and close. Look in the Need to Know section under the Details tab to see what time each venue opens and closes.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;What will I get with my bottle service booking?
        p.white
          | Read the Table Experience section under the Details tab to see exactly what you'll get at a particular venue, but bottle service will usually come with your choice of mixers, lemons, and limes.
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;Do I need to buy tickets to the special event at the club at which I just booked?
        p.white
          | No. The ticket fee is waived for the maximum capacity of your table. The table capacity varies per club so check the Need to Know section in the detail tab on each venue profile?
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;Do I need to pay cover when booking on BottlesTonight?
        p.white
          | No. The cover fee is waived for the maximum capacity of your table. The table capacity varies per club so check the Need to Know section in the detail tab on each venue profile?
    .row
      .small-12.small-centered.large-12.columns
        h3.white &bull;We would like to thank the following open source projects:
        ul
          li 
            p.white AFNetworking
          li 
            p.white SVProgressHUD
          li 
            p.white MWPhotoBrowser
          li 
            p.white SSKeychain
          li 
            p.white DLStarRating
          li 
            p.white iRate
          li 
            p.white UIModalPanel

  include includes/_script.jade
