doctype html
html.no-js(lang='en')
head
    //
       META TAGS 
    include includes/_meta.jade
    //
       META TAGS 
    title BottlesTonight - Same Day Bottle Service App - Merchant Signup.
    //
       CSS 
    include includes/_css.jade
    //
       End CSS 
    
body
  include includes/_top_bar_consumer.jade
  include includes/_top_bar_merchant.jade
  #hero
    .row
      .small-10.medium-8.small-centered.large-5.columns
        img(src='img/bt_logo@2x.png')
    .row.text-center
      .small-12.small-centered.large-6.columns
        h2.white.shadowed Fill Tables. Make Money.
  .feature_display.page1
    .row.text-center.alphablack
        .small-12.small-centered.large-12.columns
          h2.white.text-center.shadowed
            | Additional Sales Channels
            p
              | BottlesTonight increases revenue for nightclubs and lounges by selling unsold tables. When promoters and other efforts leave tables unsold, BottlesTonight markets them to eager and desireable guests ready to book
  .feature_display.page2
    .row.text-center.alphablack
      .small-12.small-centered.large-12.columns
        h2.white.text-center.shadowed
          | Showcase Your Venue
          p
            | We display each venue at its best by taking professional photographs and writing tempting descriptions; enticing users to book. Our product provides free exposure to thousands of potential customers.
  .feature_display.page3
    .row.text-center.alphablack
      .small-12.small-centered.large-12.columns
        h2.white.text-center.shadowed
          | Target Audience
          p
            | BottlesTonight was developed to bring friends together for an enhanced experience, not just another night out. Our bottle service app is a vital tool for the impromptu partier seeking bottle service at the last minute.
  .feature_display.page6
    .row.text-center.alphablack
      .small-12.small-centered.large-12.columns
        h2.white.text-center.shadowed
          | You're in Control
          p Prior to noon each day verify quantity and discount of unsold tables.
  .feature_display.page5
    .row.text-center.alphablack
      .small-12.small-centered.large-12.columns
        h2.white.text-center.shadowed
          | Reservations
          p
            | Have knowledge of your guests. Track who is booking, what they purchased, and if they split the bill.
  .feature_display.page4
    .row.text-center.alphablack
      .small-12.small-centered.large-12.columns
        h2.white.text-center.shadowed
          | Advanced Functions
          p
            | Track daily sales, manage inventory, control pricing, and let your potential bookers know about each night's event.
  #merchant_partners
    .row
      .small-12.large-12.columns
        h2 Our partners:
    .row
      .small-12.small-centered.large-12.columns.small-centered
        ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.small-centered.text-center 
          li 
            img.small-4.large-6(src='img/heroku.png')
          li 
            img.small-4.large-6(src='img/balanced_logo_final.png')
          li 
            img.small-4.large-6(src='img/kiip-logo.png') 

  include includes/_script.jade
