doctype html
html.no-js(lang='en')
head
    //
       META TAGS 
    include includes/_meta.jade
    //
       META TAGS 
    title BottlesTonight - Same Day Bottle Service App - What Is Bottleservice?
    //
       CSS 
    include includes/_css.jade
    //
       End CSS 
    
body
  include includes/_top_bar_consumer.jade
  #whatisbottleservice.feature_display.single
    .row.alphablack
        .small-12.small-centered.large-12.columns
          h1.white What is Bottle Service?
          h3.white
            | Booking bottle service reserves a table for you and friends to enjoy your choice of spirits, while having a premium experience at a nightclub.
  include includes/_script.jade
