meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
//Facebook META tags 
meta(property='og:url', content='http://www.bottlestonightapp.com/')
meta(property='og:site_name', content='BottlesTonight')
meta(property='og:type', content='website')
meta(property='og:title', content='BottlesTonight')
meta(property='og:image', content='http://www.bottlestonightapp.com/images/bt_logo_fb.jpg')
meta(property='og:description', content='Book bottle service deals at the hottest nightclubs and lounges from the convenience of your smartphone. Save up to 70%.')
//END Facebook META tags
meta(name='description', content='BottlesTonight: Get discounted bottle service at clubs')
meta(name='author', content='BottlesTonight')
meta(name='keywords', content='deals, drinks, bars, clubs, discounts')