//TOP BAR, STICKY 
.contain-to-grid.sticky.z-999(data-options='sticky_on: large')
  nav.top-bar(data-topbar='data-topbar')
    ul.title-area
      li.name
        h1
          a(href='index.html') BottlesTonight
      li.toggle-topbar.menu-icon
        a(href='index.html') Menu
    section.top-bar-section
      //Right Nav Section 
      ul.right
        li
          a(href='https://itunes.apple.com/us/app/bottlestonight/id631017967?mt=8&uo=4', target='itunes_store') Download the App
        li
          a(href='faq.html') FAQ
        li(class='has-dropdown')
          a(href='/cities/') Venues
          ul(class='dropdown')
            li
              a(href='/cities/San%20Francisco') San Francisco
            li
              a(href='/cities/Los%20Angeles') Los Angeles
        li 
          a(href='team.html') Team
        li
          a(href='http://blog.bottlestonightapp.com', target='_blank') Blog 
      ul.left
        li
          a(href='merchants.html') Merchant?
//END TOP BAR 